<div id="states_panel">
  <div>
    <label for="select_filter">Filter By:</label>
    <select class="custom-select" id="select_filter">
      <option value=""></option>
      <option value="1">Sprint</option>
      <option value="2">Status</option>
    </select>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Sprint.ID</th>
        <th>Name</th>
        <th>Desc</th>
        <th>Status</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody id="table_body">

    </tbody>
  </table>
</div>
